/.env
/dogwood-method-448216-f4-4023cd31106c.json
/__pycache__
/.tmp/
/mogindex/*.db
/mogindex/*.db-*
/mogindex/*.sqlite3
/mogindex/*.sqlite3-*
reference_codes
phs
mogtel
local_server
ㅔ
combat/__pycache__
combat/__pycache__/status_effect_manager.cpython-313.pyc
combat/__pycache__/random_utils.cpython-313.pyc
combat/__pycache__/combat_utils.cpython-313.pyc
combat/__pycache__/boss_skill_system.cpython-313.pyc
combat/__pycache__/battle_manager.cpython-313.pyc
.rtk/filters.toml
.gitignore
RTK.md
AGENTS.md
