/.env
/dogwood-method-448216-f4-4023cd31106c.json
/__pycache__
/.tmp/
/mogindex/*.db
/mogindex/*.db-*
/mogindex/*.sqlite3
/mogindex/*.sqlite3-*
reference_codes
phs/__pycache__
phs/dogwood-method-448216-f4-4023cd31106c.json
phs/chat_log_라이프-스트림_251101_260622.txt